<div id="arrow">
    <img src="/img/down-arrow.png" alt="" width="128", height="64">
</div>

{{#with spotlight}}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img id="main-img" class="card-img-top mb-5 mb-md-0" src="{{additionalMedia.0.url}}" alt="...">
                </div>
                <div class="col-md-6">
                    <div id="main-sku" class="small mb-1">SKU: {{sku}}</div>
                    <h1 id="main-name" class="display-5 fw-bolder">{{name}}</h1>
                    <div class="fs-5 mb-5">
                        <span id="main-price">{{#checkPrice this}}{{/checkPrice}}</span>
                    </div>
                    <p id="main-description" class="lead">
                        <ul>
                            {{#each specs}}
                                <li><b>{{name}}</b>: {{value}}</li>
                            {{/each}}
                        </ul>
                    </p>
                    <div id="main-in-store-label">
                        {{!-- In Store
                        <svg id="main-check-icon" hidden xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                        <svg id="main-x-icon" hidden xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg> --}}
                        <a id="main-btn" style="margin-left: 20px" class="btn btn-outline-dark mt-auto" href="{{productUrl}}">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/with}}
<section class="py-5 bg-light">
    <div class=" px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div id="pagination" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
            <div class="d-flex flex-row align-items-center">
                <button class="btn btn-primary mx-3" type="button" data-bs-target="#pagination" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <div class="carousel-inner">
                    {{#each pages}}
                        <div id="page{{@index}}" class="carousel-item container">
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                                {{#each this}}
                                    {{> card item=this}}
                                {{/each}}
                            </div>
                        </div>
                    {{/each}}
                </div>
                <button class="btn btn-primary mx-3" type="button" data-bs-target="#pagination" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</section>
<script>

    $(document).ready(() => {
        let element = $('#page0')
        element.addClass('active')
    })

</script>